/* You can add global styles to this file, and also import other style files */
@import '/assets/css/materialize.min.css';

html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}
